# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment
.env

# Logs
logs/
*.log

# Pytest
.pytest_cache/

# Spark
spark-warehouse/

# VS Code
.vscode/

# Coverage
.coverage
coverage.xml
htmlcov/

# Local temporary data
temp/
data/test_output/